data/raw_cache/
data/processed/*.parquet
data/processed/*.duckdb
data/exports/*.csv
charts/*.png
notebooks/.ipynb_checkpoints/
__pycache__/
node_modules/
.DS_Store
excel/*.inspect.ndjson

data/exports/*.json
tableau/Data/*.hyper
*.log
tableau/*_Review.twbx
node_modules
.venv/
